.markdown {
  @apply text-base leading-6 tracking-wide;
}

.markdown h1,
.markdown h2,
.markdown h3 {
  @apply font-bold font-montserrat py-2 mb-4;
}

.markdown h1 {
  @apply text-2xl mt-12;
}

.markdown h2 {
  @apply text-xl mt-10;
}

.markdown h3 {
  @apply text-lg mt-8;
}

.markdown h1 a,
.markdown h2 a,
.markdown h3 a {
  @apply invisible -ml-6;
}

.markdown h1:hover a,
.markdown h2:hover a,
.markdown h3:hover a {
  @apply visible;
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
  @apply my-7;
}

.markdown ul,
.markdown ol,
.markdown blockquote {
  @apply pl-4;
}

.markdown ul {
  @apply list-inside list-disc;
}

.markdown ol {
  @apply list-inside list-decimal;
}

.markdown li {
  @apply my-2;
}

.markdown a {
  @apply text-blue-500 px-1;
}

.markdown blockquote {
  @apply border-l-4 border-black border-opacity-10;
}

.markdown table {
  @apply table-auto border-collapse border w-full text-sm;
}

.markdown table thead tr th {
  @apply border px-2 py-2.5 text-left leading-6;
}

.markdown table tbody tr td {
  @apply border px-2 py-2.5;
}

.markdown table tbody tr:nth-child(odd) td {
  @apply bg-black bg-opacity-5;
}

.markdown p code,
.markdown li code {
  @apply font-consolas text-black bg-black bg-opacity-5 py-0.5 px-1.5 mx-0.5 rounded;
}

.markdown pre {
  @apply px-8 py-6 break-words -mx-6 bg-gray-900 overflow-x-auto;
}

.markdown pre code {
  @apply text-white font-consolas text-sm;
}

.markdown pre[class*='language-'] {
  position: relative;
}

.markdown.token.namespace {
  opacity: 0.7;
}

.markdown.token.comment,
.markdown.token.prolog,
.markdown.token.doctype,
.markdown.token.cdata {
  color: #92a3ad;
}

.markdown.token.operator,
.markdown.token.boolean,
.markdown.token.number {
  color: #ffc164;
}

.markdown.token.attr-name,
.markdown.token.string {
  color: #ffc164;
}

.markdown.token.entity,
.markdown.token.url,
.markdown.language-css .token.string,
.markdown.style .token.string {
  color: #ffc164;
}

.markdown.token.selector {
  color: #ff8e8e;
}

.markdown.token.atrule,
.markdown.token.attr-value,
.markdown.token.keyword,
.markdown.token.important,
.markdown.token.deleted {
  color: #ff8e8e;
}

.markdown.token.inserted {
  color: #b4ff9b;
}

.markdown.token.regex,
.markdown.token.statement {
  color: #ffc164;
}

.token.placeholder,
.token.variable {
  color: #fff;
}

.markdown.token.important,
.markdown.token.statement,
.markdown.token.bold {
  font-weight: 600;
}

.markdown.token.punctuation {
  color: #859aff;
}

.markdown.token.entity {
  cursor: help;
}

.markdown.token.italic {
  font-style: italic;
}

.markdown.token.tag,
.markdown.token.property,
.markdown.token.function {
  color: #56cdff;
}

.markdown.token.attr-name {
  color: #ff8e8e;
}

.markdown.token.attr-value {
  color: #ffc164;
}

.markdown.token.style,
.markdown.token.script {
  color: #ffc164;
}

.markdown.token.script .token.keyword {
  color: #ffc164;
}
